@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #5F2C82;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    column-count: 2;
}

main > section {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

#imagem {
    background: url(./imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;
}

#formulario > h1 {
    text-align: center;
    padding: 10px;
}

#formulario > p {
    text-align: justify;
    padding: 10px;
    font-size: 0.8em;
    line-height: 17px;
}

#input {
    width: 250px;
    height: 70px;
}

#cemail, #csen {
    color: white;
    background-color: #5F2C82;
    padding: 2px;
    border-radius: 10px;
    margin: 2px 10px;
}

#person, #key {
    font-size: 2em;
    vertical-align: middle;
}

#iemail, #isen {
    background-color: #94CFCD;
    padding: 6px;
    border: none;
    border-radius: 10px;
    width: 176px;
    vertical-align: middle;
}

#imail:focus, #isen:focus {
    background-color: white;
}

#campenviar {
    background-color: #53AAA7;
    color: white;
    border: 1px solid #94CFCD;
    border-radius: 10px;
    padding: 2px;
    width: 230px;
    height: 45px;
    margin: 2px 10px;
    font-size: large;
}

#campenviar:hover {
    background-color: #306361;
}

#recsen {
    background-color: white;
    border: 2px solid #94CFCD;
    border-radius: 10px;
    width: 230px;
    height: 45px;
    margin: 2px 10px;
}

#recsen:hover {
    background-color: #53AAA7;
}

#recsen > a {
    text-align: center;
    text-decoration: none;
    color: #306361;
    font-size: 14px;
}

#mail {
    font-size: 16px;
    vertical-align: middle;
}