@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
}

body {
    background-image: url("imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-between;
}

.centro {
    position: relative;
    margin: 10vh;
}

iframe {
    position: absolute;
    height: 500px;
    width: 300px;

    left: 52%;
    top: 50%;
    
    transform: translate(-50%, -50%);
}

.botoes > li > a > img{
    margin: 5px 0px 5px 0px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.botoes > li > a > img:hover {
    box-shadow: 5px 4px 1px rgba(0, 0, 0, 0.275);
    width: 49px;
    height: 49px;
    border: .5px solid white;
}